@keyframes rotation {
  0% {
    transform: rotate(0turn) scale(1);
  }
  25% {
    transform: rotate(1turn) scale(1);
  }
  50% {
    transform: rotate(1turn) scale(1.5);
  }
  75% {
    transform: rotate(0turn) scale(1.5);
  }
  100% {
    transform: rotate(0turn) scale(1);
  }
}

.matto {
  position: absolute;
  &:hover {
    animation: rotation 2s ease-in-out infinite;

    cursor: pointer;
  }
}
