html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#hero button#uno {
  background-color: #36384c;
}
#hero button#due {
  background-color: #e3b9b3;
}
#hero button#tre {
  background-color: #613a43;
}
#hero button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 20px;
}
#hero button:hover {
  animation: rotation 2s;
}

header {
  color: #eee3d6;
  background-color: #36384c;
}
header nav {
  transition: 0.5s linear;
  padding: 2em;
}
header nav div div {
  font-size: 20px;
  font-weight: 900;
  font-family: Arial;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  color: #eee3d6;
}
header nav ul li {
  margin: 0 1em;
}
header nav ul li:hover {
  color: #e3b9b3;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  transition: 0.5s linear;
}
#hero div {
  margin: 0 1em;
}
#hero div#carlo h1 {
  font-size: 50px;
  font-weight: 900;
  font-family: Arial;
}
#hero div#carlo h1:hover {
  rotate: 2deg;
}
#hero div#orso {
  position: relative;
}
#hero div#orso img#orso1 {
  opacity: 0;
}
#hero div#orso img#orso2 {
  position: absolute;
  right: 0;
  bottom: -50px;
  border-radius: 15px;
  transition: 200ms ease-in-out;
}
#hero div#orso img#orso2:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes rotation {
  0% {
    transform: rotate(0turn) scale(1);
  }
  25% {
    transform: rotate(1turn) scale(1);
  }
  50% {
    transform: rotate(1turn) scale(1.5);
  }
  75% {
    transform: rotate(0turn) scale(1.5);
  }
  100% {
    transform: rotate(0turn) scale(1);
  }
}
.matto {
  position: absolute;
}
.matto:hover {
  animation: rotation 2s ease-in-out infinite;
  cursor: pointer;
}

body {
  background-color: #eee3d6;
}

#c-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
  margin-top: 100px;
}

.card img {
  max-width: 100%;
  border-radius: 15px;
  transition: 200ms ease-in-out;
}
.card img:hover {
  transform: scale(0.9);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */