@import "./partials/reset";

@import "./partials/colors";

@import "./partials/buttons";

@import "./partials/fonts";

@import "./partials/mixin";

@import "./partials/header";

@import "./partials/animation";

#c-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
  margin-top: 100px;
}

.card img {
  max-width: 100%;
  border-radius: 15px;

  &:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
}
